.meio{
    text-align: center;
}

.textomemez{
    font-size: 5px;
    text-align: center;
}

.Fundo{
    background: #FFC1C1;
    background: -moz-linear-gradient(top, #FFC1C1 0%, #7F96A4 50%, #FFC1C1 100%);
    background: -webkit-linear-gradient(top, #FFC1C1 0%, #7F96A4 50%, #FFC1C1 100%);
    background: linear-gradient(to bottom, #FFC1C1 0%, #7F96A4 50%, #FFC1C1 100%);
}

.alinhadireita{
    text-align: right;
}
